# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
.env
.env.*

# Logs
*.log
logs/

# OS / IDE
.vscode/
.idea/
.DS_Store

# System / home files
.bash_history
.bashrc
.bash_logout
.ssh/
.cache/
.config/
.local/
.snap/

# Secrets
*.txt
password*
token*
